/** Imports **/

@import "include/_mixins";
@import "include/_functions";

/** Variables **/
$white: #fff;
$blue: #10c9c3;
$black: #000;
$grey: #e9e9e9;

/** Default **/

/** Classes **/

// Header
.nav-link {
  color: $black;
}

// Banner


// About
.margin {
  @include margin(margin, 100, 0, 100, 0);
}

// Works


.button-works {
  @include absolutePosition(absolute, 50%, 50%);
  @include dimension(height, width, 54px, 180px);
  @include button($white, $blue, none, uppercase);
  transition: .7s;
}

// Services
.services {
  @include margin(margin, 100, 0, 100, 0);
  .services-title {
    text-transform: uppercase;
    font-weight: bold;
    @include margin(margin, 30, 0, 20, 0);
  }
}

// Testimonials
.carousel-sec {
  min-height: 100%;
  overflow: hidden;

  .carousel-item {
    @include absolutePosition(absolute, 50%, 50%);
    .carousel-div {
      min-height: 100%;
      .carousel-quotes {
        font-weight: bold;
      }
    }
  }
}

// Contact
.inputs {
  border: none;
  height: height(50px);
}

// Footer

// Others
.button {
  @include margin(margin, 43, 0, 200, 0);
  @include dimension(height, width, 54px, 180px);
  @include button($white, $blue, none, uppercase);
  transition: .7s;
}

.list {
  @include margin(margin, 100, 0, 100, 0);
}

/** ID **/

// Header


// Banner
#bg {
  @include backImage("../images/header/bg.jpg");
}

// About
#margin-h2 {
  @include margin(margin, 100, 0, 0, 0);
}

// Skills
#skills {
  height: 570px;
  #content-skill {
    height: 100%;
    #progress-bar {
      background-color: #f8f8f8;
      width: 50%;
      height: 100%;
      @include margin(padding, 160, 85, 160, 100);
      #bars-sizes {
        h2 {
          margin-bottom: 40px;
        }
        .grey-bars {
          @include margin(margin, 20, 0, 40, 0);
          @include skillsBar(100%, 3px, $grey);
          .blue-bars-ui {
            @include skillsBar(75%, 3px, $blue);
          }
          .blue-bars-dev {
            @include skillsBar(90%, 3px, $blue);
          }
          .blue-bars-mark {
            @include skillsBar(65%, 3px, $blue);
          }
        }
      }
    }
    #img-div {
      height: 100%;
      width: 50%;
      #img {
        @include dimension(height, width, 100%, 100%);
      }
    }
  }
}

@media (max-width: 768px) {
  #skills {
    height: 570px * 2;
    #content-skill {
      min-height: 100%;
      #progress-bar {
        height: 50%;
        width: 100%;
      }
      #img-div {
        height: 50%;
        width: 100%;
      }
    }
  }
}

// Works
#works {
  min-height: 600px;
  .row {
    min-height: 600px;
  }
}


#load {
  height: height(100px);
  #load-more {
    text-transform: uppercase;
  }
}

// Process
#process {
  font-weight: bold;
}
#processpara {
  @include margin(margin, 40, 0, 57, 0);

}
#video {
  @include margin(margin, 0, 0, 100, 0);
}

// Contact
#first-name, #last-name, #title {
  /*width: 320px;*/
  height: height(45px);
}

#title, #text-area {
  margin-top: 30px;
  width: width(670px);
}

#text-area {
  height: height(170px);
}

// Footer
#black-bg {

}