/** Style **/

html {
    font-size: 62.5%;
}

a {
    transition: .5s;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

li.active a {
    color: #10c9c3;
}

/** Class **/

.signature {
    text-transform: uppercase;
    color: #ffffff;
}

.client-list {
    margin: 65px 0;
}

.black-bg {
    background-color: #141414;
}

/** ID **/

#design {
    margin-top: 190px;
}

#new-design {
    margin-top: 40px;
}

#about {
    margin-top: 40px;
}

#signature {
    margin: 40px 0 100px 0;
}

#testimonials {
    height: 500px;
}

#agency {
    margin-top: 40px;
}

#form {
    margin-top: 40px;
}

#piroll {
    font-weight: bold;
    margin-bottom: 25px;
}

/** Effects **/

a:hover {
    color: white;
}

button:hover, button:focus {
    border-radius: 30px;
}