/** Style **/

html {
    font-size: 62.5%;
}

a {
    transition: .5s;
}

li.active a {
    color: #10c9c3;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    margin-top: 102px;
    font-size: 3.0rem;
}

/** Class **/

.nav-link {
    color: black;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
}

.monserrat {
    font-family: 'Montserrat', sans-serif;
}

.myriad {
    font-family: "Myriad Pro", serif;
}

.button-contact {
    margin-top: 43px;
    margin-bottom: 201px;
    width: 180px;
    height: 54px;
    color: #fff;
    background-color: #10c9c3;
    border: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: .6s;
}

.grey-bg {
    background-color: #e9e9e9;
}

.blue-bg {
    background-color: #10c9c3;
}

.pro-skills {
    margin-top: 41px;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.progress-bar-grey {
    background-color: #d8d8d8;
    height: 3px;
    width: 501px;
}

.font {
    font-size: 5.0rem;
}

.figure-font {
    font-size: 1.8rem;
}

.stats-font {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.container-img {
    position: relative;
    width: 337px;
    height: 300px;
}

.work-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.button-work {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 54px;
    color: #fff;
    background-color: #10c9c3;
    border: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: .7s;
}

.middle {
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services {
    margin-top: 100px;
    margin-bottom: 100px;
}

.services-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

.services-para {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
}

.carousel-div {
    min-height: 100%;
}

.carousel-sec {
    min-height: 100%;
    overflow: hidden;
}

.carousel-quotes {
    height: 100%;
    font-size: 1.98rem;
    font-weight: bold;
}

.signature {
    text-transform: uppercase;
    color: #ffffff;
}

.carousel-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/** ID **/

#bg {
    background-image: url("../images/header/bg-6.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#design {
    margin-top: 190px;
}

#new-design {
    margin-top: 40px;
    font-size: 1.8rem;
}

#about {
    margin-top: 40px;
    font-size: 1.6rem;
}

#signature {
    margin-top: 40px;
    margin-bottom: 100px;
}

#skills {
    margin-top: 166px;
    font-size: 3.0rem;
}

#half-grey {
    background-color: #e9e9e9;
}

#ui {
    background-color: #10c9c3;
    height: 3px;
    width: 75%;
}

#develop {
    background-color: #10c9c3;
    height: 3px;
    width: 90%;
}

#marketing {
    background-color: #10c9c3;
    height: 3px;
    width: 65%;
}

#progressBar {
    margin-bottom: 164px;
}

#ul-margin {
    margin: 100px 0;
}

#load {
    height: 100px;
}

#load-more {
    text-transform: uppercase;
    font-size: 1.2rem;
}

#process {
    font-size: 3.0rem;
    font-weight: bold;
}

#process-para {
    font-size: 1.6rem;
}

#processpara {
    margin-top: 40px;
    margin-bottom: 57px;
}

#video {
    margin-bottom: 100px;
}

#bow {
    font-weight: bold;
}

#testimonials {
    height: 500px;
}

#container-carousel {
    height: 100%;
}

#row, #myCarousel, #carousel-inner{
    height: 100%;
}

/** Effects **/

a:hover {
    color: white;
}

button:hover, button:focus {
    /*background: linear-gradient(to right, #10c9c3 80%, transparent);*/
    border-radius: 30px;
}

.container-img:hover .work-img {
    opacity: .3;
}

.container-img:hover .middle {
    opacity: 1;
}