/** Style **/

html, html:focus {
    font-size: 62.5%;
}

a {
    transition: .5s;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

li.active a {
    color: #10c9c3;
}

/** Class **/

.container-img {
    position: relative;
    width: 337px;
    height: 300px;
}

.work-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signature {
    text-transform: uppercase;
    color: #ffffff;
}

.client-list {
    margin: 65px 0;
}

.black-bg {
    background-color: #141414;
}

/** ID **/

#design {
    margin-top: 190px;
}

#new-design {
    margin-top: 40px;
}

#about {
    margin-top: 40px;
}

#signature {
    margin: 40px 0 100px 0;
}

/*#progressBar {*/
/*    margin-bottom: 160px;*/
/*}*/

#bow {
    font-weight: bold;
}

#testimonials {
    height: 500px;
}

#container-carousel {
    height: 100%;
}

#row, #myCarousel, #carousel-inner{
    height: 100%;
}

#agency {
    margin-top: 40px;
}

#form {
    margin-top: 40px;
}

#piroll {
    font-weight: bold;
    margin-bottom: 25px;
}

/** Effects **/

a:hover {
    color: white;
}

button:hover, button:focus {
    /*background: linear-gradient(to right, #10c9c3 80%, transparent);*/
    border-radius: 30px;
}

.container-img:hover .work-img {
    opacity: .3;
}

.container-img:hover .middle {
    opacity: 1;
}