@import "functions";

@mixin absolutePosition($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
  transform: translate(-$top, -$left);
}

@mixin dimension($propertyH, $propertyW, $height, $width) {
  #{$propertyH}: height($height);
  #{$propertyW}: width($width);
}

@mixin margin($property, $marginT, $marginR, $marginB, $marginL) {
  #{$property}: $marginT + px $marginR + px $marginB + px $marginL + px;
}

@mixin font($property, $style, $size) {
  #{$property}: $style $size;
}

@mixin button($color, $backColor, $border, $textTrans) {
  color: $color;
  background-color: $backColor;
  border: $border;
  text-transform: $textTrans;
}

@mixin backImage($urlImage) {
  background-image: url($urlImage);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin skillsBar($w, $h, $bc) {
  width: $w;
  height: $h;
  background-color: $bc;
}

